{% extends "base.html" %}

{% block content %}

    <section style="margin: 20px;">
        <div style="text-align: center;">
            <h1 style="font-weight: bold;">Sobre Nosotros</h1>
        </div>

        <div style="margin-top: 20px;">
            <p>Soy Ivan, un apasionado barman y programador, actualmente cursando la carrera de programador full stack en aplicaciones web con Django. Este sitio web es mi proyecto final versión 2.</p>
        </div>

        <div style="margin-top: 20px;">
            <p>Me encanta la tecnología, los videojuegos y la botánica. En mi tiempo libre, disfruto jugando con amigos, trabajando en proyectos para mejorar mi habilidad en programación y creando cosas emocionantes con mis impresoras 3D.</p>
        </div>

        <div style="margin-top: 20px;">
            <p>Para más información, puedes encontrarme en mis redes sociales:</p>
            <!-- Reemplaza 'link a redes sociales' con los enlaces reales -->
            <a href="https://www.facebook.com/profile.php?id=100063940565821&locale=es_LA" style="text-decoration: none; color: #007bff;">Facebook</a> |
            <a href="https://www.instagram.com/lenavvh2.0/" style="text-decoration: none; color: #007bff;">Instagram</a> |
        </div>
    </section>

{% endblock content %}
